#docker-compose up
services:
  jupyter-gpu:
    build: .                          # Tells Docker to look for 'Dockerfile' in the current folder
    shm_size: '2gb' # use the host memory capacity
    container_name: pytorch_notebook
    ports:
      - "8888:8888"
    volumes:
      - ./unit_test:/app/unit_test/:z
      - ./data:/app/data:z
      - ./src:/app/src:ro,z
      - ./objectives:/app/objectives:ro,z
      - ./run:/app/run:z
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]